/* ELEMENT SELECTORS --> START */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    width:100%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
}
div{
    margin:5px;
    padding:5px;
}
h1 
{
    font-size: 1.5em;
    color:#9cfd00;
    text-decoration: underline;
}
#info h1{
    font-size: 1.5em;
    color:black;
    text-decoration: underline;
}
button{
    font-size: 1em;
    font-weight: 500;
    width:100%;
    margin:0 auto;
    padding: 10px;
    letter-spacing: 0px;
    line-height: 1;
    text-align: center;
    border-radius:2em;
}

/* ELEMENT SELECTORS --> END */

/* CLASS SELECTORS START */

/* CLASS SELECTORS END */

/* ID SELECTORS --> START */
#isbank{
    background-color: #6a4c93;
    border: 3px solid #ffffff;
}
#ali{
    background-color: #5e7eab;
    border: 3px solid #ffffff;
}
#info{
    background-color: #369860;
    border: 3px solid #ffffff;
}
#isbank button{
    color:#6a4c93;
    border:2px solid #6a4c93;
}
#ali button{
    color:#5e7eab;
    border:2px solid #5e7eab; 
}
#info button{
    color:#369860;
    border:2px solid #369860; 
}
#intranet, #system, #printer, #checking, #cloud, #webdev, #google, #myauto, #cars, #check_this, #books, #movies{
    width:20%;
}
/* ID SELECTORS --> END */

/* PSEUDO CLASSES -BUTTON HOVER- START */
button:hover{
    color: white;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-size: 1.15em;
    cursor: pointer;
}
#isbank button:hover{
    background-color: #6a4c93;
    color:#ffffff;
}
#ali button:hover{
    color:#ffffff;
    background-color: #5e7eab;
} 
#info button:hover{
    color:#ffffff;
    background-color: #369860;
}
/* PSEUDO CLASSES -BUTTON HOVER- END */

/* PSEUDO CLASSES - HOVER- START */
#intranet h1:hover{
    color: #ff595e;
}
#system h1:hover{
    color: #f72585;
}
#cloud h1:hover{
    color: #8ac926;
}
#printer h1:hover{
    color:#1982c4;
}
#checking h1:hover{
    color:#d90429;
}
#webdev h1:hover{
    color:#ffffff;
}
#google h1:hover{
    color:#3e0796;
}
#myauto h1:hover{
    color:#f7d647;
}
#cars h1:hover{
    color: brown;
}
#check_this h1:hover{
    color: hotpink;
}
#books h1:hover{
    color: white;
}
#movies h1:hover{
    color: white;
}
h1:hover{
    font-size: 1.5em;
    text-decoration-line: overline;
    letter-spacing: 2px;
}
/* H1 hover CSS Styles ENDS HERE */


